
#logo{

    background: white;
    position:relative;
    width: 110px;
    border:1px solid black;
    margin-top: 100px;
    margin-left: 20px;
}

        nav > ul{
background-color: #0a37a0;
            list-style-type: none;
            display:flex;
            flex-flow: row wrap;
            line-height: 3em;

        }
        nav li{
            flex:1 1 8em;
        }

        nav {
            color: #7eda00;
            margin-top:-90px;
            
        } 
nav a {
    padding:.85em;
}

nav a:link, nav a:visited{
    color:#7eda00;
    text-decoration: none;
}  

nav a:hover{
    color:white;
    background-color:#7eda00;
}

}
nav{
    padding-left: 70px;
}
        #section1, #section2{
            display:flex;
            flex-flow: row wrap;
            align-items: center;
}
body{
    background-color:dodgerblue;
}
        
        .right,.left{
            width:48%;
            flex: 1 0 15em;
        }
        
        #section1, #section2 p,h2{
            text-align: center;
        }
        
        .section3{
        text-align: center
        }
        
        img {
            max-width:100%;
        }
        
        #section2 {
            background-color: #0a37a0;
            padding-left: 1em;
            padding-top: .1em;
        }
        h2 {
            line-height: 5px;
            margin-top: 30px;
        }
        
#section1,.section3{
    color: white;
}

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #7eda00;
            font-family: georgia alt= sans-serif alt= monospace;
        }
        
        .section2text {
            color: white;
            margin-right: -100px;
            width: 90%;
            text-align: center;
            
        }
        
        #content {
            width:960px;
            margin: 0 auto;
        }
        
        body {
            font-family: arial alt= cursive alt=fantasy;
        }
       
        .right img{
            padding: 20px;
        }
        .left img{
            padding: 10px;
        }
        .right p{
            text-align: center;
        }
        .left p{
            text-align: center;
        }
         #joinus{
            padding-top: 10px;
        }
        .final_picture{
            padding-top:15px;
            padding-bottom: 20px;
        }
         .footer{
            display:flex;  
             justify-content: space-around;
             background-color: #0a37a0;
        }
        .footer img{
            height:45px;
            padding-top: 5px;
        }